apiVersion: v1
kind: Secret
metadata:
  name: {{ multiclusterobservability_thanos_secret_name }}
  namespace: {{ multiclusterobservability_namespace }}
stringData:
  thanos.yaml: |
    config:
      access_key: {{ obc_secret.resources[0].data.AWS_ACCESS_KEY_ID | b64decode }}
      bucket: {{ obc_config_map.resources[0].data.BUCKET_NAME }}
      endpoint: s3.openshift-storage.svc.cluster.local
      insecure: true
      secret_key: {{ obc_secret.resources[0].data.AWS_SECRET_ACCESS_KEY | b64decode }}
    type: s3
type: Opaque
